html, body{
	width: 784px;
	height: 584px;
	color: #5f5f5f;
	overflow: hidden;
}

.priceentry{
	display: none;
}

#maindiv{
	margin: auto;
	font-family: Cantarell;
	vertical-align: middle;
	height: 584px;
	overflow: hidden;
	font-size: 35px;
	text-align: center;
	line-height: 534px;
	animation: loadshake 1s infinite;
}

@keyframes loadshake{
	0% {
		padding-top: 10px;
	}
	50% {
		padding-top: 0;
	}
	100% {
		padding-top: 10px;
	}
}